/* line 1, sass/base.scss */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: #282828;
}

/* line 7, sass/base.scss */
* {
  box-sizing: border-box;
}

/* line 10, sass/base.scss */
a {
  color: inherit;
  outline: none;
}

/* line 14, sass/base.scss */
*::selection {
  background: #f18854;
  color: #FFF;
}

/* line 18, sass/base.scss */
*::-moz-selection {
  background: #f18854;
  color: #FFF;
}

/* line 23, sass/base.scss */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
}

/* line 31, sass/base.scss */
footer {
  color: #AAAAAA;
  text-align: center;
  font-size: 13px;
  margin: 5em 0 1em 0;
  color: #3c3c3c;
}

/* line 39, sass/base.scss */
.sub-title1 {
  text-align: center;
  font-size: 3em;
  font-weight: lighter;
}

/* line 45, sass/base.scss */
.cb {
  clear: both;
}

/* line 49, sass/base.scss */
.large-screen {
  border-bottom: 6px solid #f18854;
  height: 365px;
  color: #FFF;
  text-align: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
  transition: height 0.3s;
}
/* line 59, sass/base.scss */
.large-screen .large-black, .large-screen .large-black-hover {
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px -59px 56px -35px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0px -59px 56px -35px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px -59px 56px -35px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 1200px) {
  /* line 70, sass/base.scss */
  .large-screen {
    height: 330px;
  }
}
/* line 75, sass/base.scss */
.large-screen .container, .large-screen .large-content, .large-screen .large-content-middle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
/* line 81, sass/base.scss */
.large-screen .container .btn-classic, .large-screen .large-content .btn-classic, .large-screen .large-content-middle .btn-classic {
  margin-top: 10px;
}
/* line 84, sass/base.scss */
.large-screen .container h1, .large-screen .large-content h1, .large-screen .large-content-middle h1, .large-screen .container h2, .large-screen .large-content h2, .large-screen .large-content-middle h2, .large-screen .container span, .large-screen .large-content span, .large-screen .large-content-middle span, .large-screen .container p, .large-screen .large-content p, .large-screen .large-content-middle p, .large-screen .container time, .large-screen .large-content time, .large-screen .large-content-middle time {
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}
/* line 88, sass/base.scss */
.large-screen .container h1, .large-screen .large-content h1, .large-screen .large-content-middle h1 {
  margin: 0;
  font-size: 5.5em;
  text-transform: uppercase;
}
/* line 94, sass/base.scss */
.large-screen .container h2, .large-screen .large-content h2, .large-screen .large-content-middle h2 {
  font-weight: normal;
  font-size: 1.54em;
  line-height: 1.2em;
  margin: 0;
}

/* line 107, sass/base.scss */
.large-slider {
  overflow: hidden;
}
/* line 109, sass/base.scss */
.large-slider .container, .large-slider .large-content, .large-slider .large-content-middle {
  text-align: right;
  top: inherit;
  bottom: 0;
  transform: translateX(-50%);
}
/* line 114, sass/base.scss */
.large-slider .container span, .large-slider .large-content span, .large-slider .large-content-middle span {
  font-size: 2.3em;
  font-weight: bold;
  display: block;
  line-height: 0.9em;
}
/* line 120, sass/base.scss */
.large-slider .container time, .large-slider .large-content time, .large-slider .large-content-middle time {
  margin: 0;
  display: block;
  font-style: italic;
  font-size: .8em;
}
/* line 126, sass/base.scss */
.large-slider .container p, .large-slider .large-content p, .large-slider .large-content-middle p {
  width: 40%;
  display: inline-block;
  min-width: 400px;
  font-size: 1.1em;
  font-style: italic;
}
/* line 134, sass/base.scss */
.large-slider .slider-button, .large-slider .large-bg-slides .left, .large-bg-slides .large-slider .left, .large-slider .large-bg-slides .right, .large-bg-slides .large-slider .right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  height: 100%;
  width: 8%;
  min-width: 20px;
  opacity: .5;
  cursor: pointer;
  z-index: 20;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  fill: #FFFFFF;
}
/* line 148, sass/base.scss */
.large-slider .slider-button:hover, .large-slider .large-bg-slides .left:hover, .large-bg-slides .large-slider .left:hover, .large-slider .large-bg-slides .right:hover, .large-bg-slides .large-slider .right:hover {
  opacity: .8;
}
/* line 151, sass/base.scss */
.large-slider .slider-button.left, .large-slider .large-bg-slides .left, .large-bg-slides .large-slider .left {
  background: url(../../img/left.svg) no-repeat center center;
  left: 0;
}
/* line 154, sass/base.scss */
.large-slider .slider-button.left:hover, .large-slider .large-bg-slides .left:hover, .large-bg-slides .large-slider .left:hover {
  margin-left: -10px;
  box-shadow: inset 43px 0 34px -19px rgba(0, 0, 0, 0.5);
}
/* line 159, sass/base.scss */
.large-slider .slider-button.right, .large-slider .large-bg-slides .right, .large-bg-slides .large-slider .right {
  background: url(../../img/right.svg) no-repeat center center;
  right: 0;
}
/* line 162, sass/base.scss */
.large-slider .slider-button.right:hover, .large-slider .large-bg-slides .right:hover, .large-bg-slides .large-slider .right:hover {
  margin-right: -10px;
  box-shadow: inset -43px 0 34px -19px rgba(0, 0, 0, 0.5);
}

/* line 170, sass/base.scss */
.large-image {
  z-index: -5;
  width: 100%;
  display: inline-block;
  transform: translateY(-37px);
}

/* line 177, sass/base.scss */
.large-bg, .large-bg-img, .large-bg-map, .large-bg-slides {
  background-size: cover;
  background-position: center center;
  height: 112%;
}

/* line 183, sass/base.scss */
.items {
  text-align: center;
}

/* line 186, sass/base.scss */
.item {
  width: 460px;
  min-height: 250px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
/* line 195, sass/base.scss */
.item img {
  float: left;
  height: 50px;
  width: 50px;
}
/* line 200, sass/base.scss */
.item h3 {
  font-size: 1.8em;
  font-weight: lighter;
  line-height: 1.7em;
  margin: 0;
  margin-left: 2em;
}
/* line 207, sass/base.scss */
.item p {
  padding-left: 60px;
  text-align: justify;
  margin: 15px 0 0 0;
  line-height: 1.3em;
}
/* line 213, sass/base.scss */
.item:nth-child(2), .item:nth-child(4) {
  border-right: none;
}
/* line 216, sass/base.scss */
.item:nth-child(3), .item:nth-child(4) {
  border-bottom: none;
}

@media screen and (max-width: 1200px) {
  /* line 222, sass/base.scss */
  .item {
    max-width: 50%;
    min-width: 400px;
  }
}
@media screen and (max-width: 630px) {
  /* line 228, sass/base.scss */
  .item {
    max-width: none;
    min-width: none;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
/* line 237, sass/base.scss */
.les-logos {
  font-size: 0;
  text-align: center;
}
/* line 240, sass/base.scss */
.les-logos img {
  vertical-align: middle;
  margin: 2%;
  max-width: 100%;
}

/* line 1, sass/layout.scss */
body {
  margin: 0;
}

/* line 5, sass/layout.scss */
.container, .large-content, .large-content-middle {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (max-width: 1200px) {
  /* line 5, sass/layout.scss */
  .container, .large-content, .large-content-middle {
    width: 100%;
  }
}

/* line 1, sass/large.scss */
.large, .large-header {
  height: 365px;
  color: #FFF;
  position: relative;
  overflow: hidden;
  transition: height 0.3s;
}

@media screen and (max-width: 1200px) {
  /* line 9, sass/large.scss */
  .large, .large-header {
    height: 330px;
  }
}
/* line 14, sass/large.scss */
.large-header {
  border-bottom: 6px solid #f18854;
}

/* line 19, sass/large.scss */
.large-black, .large-black-hover {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  -moz-box-shadow: inset 0px -59px 56px -35px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0px -59px 56px -35px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px -59px 56px -35px rgba(0, 0, 0, 0.4);
}

/* line 34, sass/large.scss */
.large-content, .large-content-middle {
  z-index: 10;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}
/* line 38, sass/large.scss */
.large-content .btn-classic, .large-content-middle .btn-classic {
  margin-top: 10px;
}

/* line 43, sass/large.scss */
.glide .container, .glide .large-content, .glide .large-content-middle {
  position: relative;
  height: 100%;
}

/* line 48, sass/large.scss */
.large-content-middle {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
/* line 56, sass/large.scss */
.large-content-middle h1 {
  margin: 0;
  font-size: 5.5em;
  text-transform: uppercase;
}
/* line 61, sass/large.scss */
.large-content-middle h2 {
  font-weight: normal;
  font-size: 1.54em;
  line-height: 1.2em;
  margin: 0;
}

/* line 69, sass/large.scss */
.large-content-right {
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 30px;
  right: 10px;
  text-align: right;
}
/* line 71, sass/large.scss */
.large-content-right .btn-classic {
  margin-top: 10px;
}
/* line 79, sass/large.scss */
.large-content-right h1 {
  margin: 0;
  font-size: 2.5em;
}
/* line 83, sass/large.scss */
.large-content-right h2 {
  font-weight: normal;
  margin: 0;
  font-size: 1.2em;
  max-width: 300px;
  display: inline-block;
}

@media screen and (max-width: 1200px) {
  /* line 93, sass/large.scss */
  .large-content-right {
    right: 80px;
  }
}
/* line 98, sass/large.scss */
.large-bg, .large-bg-img, .large-bg-map, .large-bg-slides {
  background-size: cover;
  background-position: center center;
  height: 112%;
  z-index: -30;
}

/* line 105, sass/large.scss */
.large-bg-img {
  width: 100%;
  display: inline-block;
}

/* line 111, sass/large.scss */
.large-bg-map {
  width: 100%;
  display: inline-block;
}

/* line 117, sass/large.scss */
.large-parallax {
  transform: translateY(-37px);
  height: 112%;
}

/* line 126, sass/large.scss */
.large-bg-slides .large-slides .large-slide {
  width: 100%;
}
/* line 132, sass/large.scss */
.large-bg-slides .slider-button, .large-bg-slides .left, .large-bg-slides .right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  height: 100%;
  width: 8%;
  min-width: 20px;
  opacity: .5;
  cursor: pointer;
  z-index: 20;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  fill: #FFFFFF;
}
/* line 146, sass/large.scss */
.large-bg-slides .slider-button:hover, .large-bg-slides .left:hover, .large-bg-slides .right:hover {
  opacity: .8;
}
/* line 150, sass/large.scss */
.large-bg-slides .left {
  background: url(../../img/left.svg) no-repeat center center;
  left: 0;
}
/* line 154, sass/large.scss */
.large-bg-slides .left:hover {
  margin-left: -10px;
  box-shadow: inset 43px 0 34px -19px rgba(0, 0, 0, 0.5);
}
/* line 159, sass/large.scss */
.large-bg-slides .right {
  background: url(../../img/right.svg) no-repeat center center;
  right: 0;
}
/* line 163, sass/large.scss */
.large-bg-slides .right:hover {
  margin-right: -10px;
  box-shadow: inset -43px 0 34px -19px rgba(0, 0, 0, 0.5);
}

/* line 1, sass/boutons.scss */
.btn-classic {
  border: 2px solid #FFF;
  border-radius: 0.2em;
  padding: 0.2em 0.6em;
  color: #FFF;
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
  transition: all 0.3s;
}
/* line 11, sass/boutons.scss */
.btn-classic:hover {
  background: #FFF;
  color: #282828;
}

/* line 1, sass/header.scss */
.header {
  background: #636363;
  height: 180px;
  width: 100%;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 4, sass/header.scss */
.header .container, .header .large-content, .header .large-content-middle {
  position: relative;
  height: 100%;
}

/* line 12, sass/header.scss */
.header-logo {
  background: url('/public/img/WHITE.svg');
  height: 155px;
  width: 286px;
  z-index: 20;
  position: absolute;
  display: block;
  top: 50%;
  left: -30px;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: all 0.3s;
}

/* line 26, sass/header.scss */
.header-mobile-menu {
  display: none;
}

/* line 28, sass/header.scss */
.nav {
  position: absolute;
  padding-left: 194px;
  text-align: center;
  top: 50%;
  right: 0;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 36, sass/header.scss */
.nav a {
  margin: 0 1.2em;
  display: inline-block;
  line-height: 2.5em;
  font-size: 1.7em;
  font-weight: lighter;
  text-decoration: none;
  color: #FFF;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
/* line 46, sass/header.scss */
.nav a:hover {
  color: #f18854;
}
/* line 51, sass/header.scss */
.nav a.active {
  color: #f18854;
}

/* line 56, sass/header.scss */
.header.fixed {
  position: fixed;
  min-height: 80px;
  max-height: 80px;
  z-index: 5;
}
/* line 62, sass/header.scss */
.header.fixed .header-logo {
  width: 137px;
  height: 71px;
  margin-top: 3px;
  margin-left: 0;
}
/* line 68, sass/header.scss */
.header.fixed .nav {
  margin-top: 19px;
}

@media screen and (max-width: 1200px) {
  /* line 74, sass/header.scss */
  .header-logo {
    left: 0px;
    height: 134px;
    width: 247px;
  }

  /* line 79, sass/header.scss */
  .nav a {
    margin: 0 .8em;
  }
}
@media screen and (max-width: 630px) {
  /* line 85, sass/header.scss */
  .header {
    height: 120px;
  }

  /* line 88, sass/header.scss */
  .header-logo {
    height: 100px;
    width: 185px;
    position: relative;
    margin: auto;
  }

  /* line 95, sass/header.scss */
  .header-mobile-menu {
    display: block;
    position: absolute;
    z-index: 20;
    left: -23px;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border: none;
    background: url(../../img/menu.svg) no-repeat;
    height: 37px;
    width: 65px;
    cursor: pointer;
  }

  /* line 109, sass/header.scss */
  .nav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    padding: 120px 0 0 0;
    width: 70%;
    min-width: 390px;
    height: 100%;
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    background: #636363;
  }
  /* line 121, sass/header.scss */
  .nav a {
    display: block;
    font-size: 3em;
    margin: 0;
  }

  /* line 127, sass/header.scss */
  .nav.open {
    transform: translateX(0%);
  }
}
/* line 1, sass/contact.scss */
#map-canvas {
  height: 117%;
}

/* line 4, sass/contact.scss */
.contact-informations {
  float: left;
  width: 580px;
  margin-top: 70px;
  font-size: .86em;
}
@media screen and (max-width: 1200px) {
  /* line 4, sass/contact.scss */
  .contact-informations {
    width: 49%;
    font-size: .7em;
  }
}
@media screen and (max-width: 630px) {
  /* line 4, sass/contact.scss */
  .contact-informations {
    width: 100%;
  }
}
/* line 17, sass/contact.scss */
.contact-informations p {
  margin: 0;
  font-size: 4.5em;
  font-weight: lighter;
  padding-left: 70px;
  line-height: 1.3em;
  margin-bottom: 0.5em;
}
/* line 25, sass/contact.scss */
.contact-informations .contact-icon {
  height: 54px;
  width: 54px;
  display: block;
  float: left;
  margin-top: 1.3em;
}
/* line 32, sass/contact.scss */
.contact-informations .contact-icon-location {
  background-image: url("../../img/location.svg");
}
/* line 36, sass/contact.scss */
.contact-informations .contact-icon-phone {
  background-image: url("../../img/phone.svg");
}
/* line 40, sass/contact.scss */
.contact-informations .contact-icon-director {
  background-image: url("../../img/proprio.svg");
}

/* line 45, sass/contact.scss */
.contact-form {
  margin-top: 70px;
  float: right;
  width: 520px;
}
@media screen and (max-width: 1200px) {
  /* line 45, sass/contact.scss */
  .contact-form {
    width: 49%;
  }
}
@media screen and (max-width: 630px) {
  /* line 45, sass/contact.scss */
  .contact-form {
    width: 100%;
    font-size: 1.3em;
  }
}
/* line 56, sass/contact.scss */
.contact-form .error {
  margin-bottom: 15px;
}

/* line 1, sass/habitat.scss */
.bull {
  clear: both;
  margin-top: 90px;
  text-align: center;
}
/* line 5, sass/habitat.scss */
.bull .bull-item {
  width: 220px;
  margin: 4px;
  vertical-align: top;
  text-align: center;
  display: inline-block;
  margin-bottom: 20px;
}
/* line 12, sass/habitat.scss */
.bull .bull-item img {
  width: 80px;
  height: 80px;
  background: #f18854;
  border-radius: 50%;
  padding: 15px;
  transition: all 0.27s cubic-bezier(0, 1.8, 1, 1.8);
  box-sizing: initial;
}
/* line 21, sass/habitat.scss */
.bull .bull-item img:hover {
  height: 70px;
  width: 70px;
  padding: 25px;
  margin: -5px;
}
/* line 28, sass/habitat.scss */
.bull .bull-item h4 {
  font-size: 1.3em;
  color: #3c3c3c;
  margin-bottom: .4em;
  margin-top: 0.7em;
}
/* line 34, sass/habitat.scss */
.bull .bull-item p {
  margin: 0;
  font-size: 1em;
  font-weight: lighter;
}

@keyframes slideIn {
  from {
    max-height: 0;
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    max-height: 100px;
    transform: translateY(0%);
    opacity: 1;
  }
}
/* line 18, sass/flash.scss */
.flash {
  font-size: 2em;
  font-weight: lighter;
  border: 1px solid #646464;
  color: #646464;
  display: inline-block;
  border-radius: .3em;
  padding: .15em .6em;
  animation: slideIn 0.5s;
}

/* line 29, sass/flash.scss */
.success {
  color: #27ae60;
  border: 1px solid #27ae60;
}

/* line 34, sass/flash.scss */
.error {
  color: #c0392b;
  border: 1px solid #c0392b;
}

/* line 3, sass/form.scss */
.form h2 {
  font-size: 2em;
  margin: 0 0 1em 0;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
/* line 10, sass/form.scss */
.form span {
  color: #636363;
}
/* line 13, sass/form.scss */
.form .form-label {
  font-weight: lighter;
  color: #727272;
  display: block;
}
/* line 18, sass/form.scss */
.form input, .form textarea {
  -webkit-appearance: none;
}
/* line 21, sass/form.scss */
.form .form-input {
  padding: 1em 0.8em 0.2em 0.8em;
  margin-bottom: 1.7em;
  border: none;
  font-size: 1.2em;
  width: 100%;
  background: #fafafa;
  border-radius: 0.2em;
  border: 1px solid #C1C1C1;
  display: block;
  box-shadow: none;
  transition: background 0.3s, border 0.3s;
}
/* line 35, sass/form.scss */
.form .form-input:focus, .form .form-input:valid {
  background: #FFF;
  border-color: #f18854;
  outline: none;
}
/* line 41, sass/form.scss */
.form .form-input:invalid:focus {
  border-color: #c0392b;
}
/* line 46, sass/form.scss */
.form textarea.form-input {
  max-width: 100%;
  min-width: 100%;
  font-family: inherit;
  font-size: 1.2em;
  padding-top: 1.1em;
}
/* line 53, sass/form.scss */
.form .form-element {
  position: relative;
}
/* line 56, sass/form.scss */
.form .form-label {
  position: absolute;
  left: 1em;
  top: .15em;
}
/* line 62, sass/form.scss */
.form .form-submit {
  border: none;
  background: #f18854;
  color: #FFF;
  font-size: 1.2em;
  display: block;
  border-radius: 0.2em;
  width: 100%;
  padding: 0.5em 1em;
  font-weight: lighter;
  cursor: pointer;
  border-bottom: 3px solid #C95E2C;
}
/* line 74, sass/form.scss */
.form .form-submit::-moz-focus-inner {
  border: 0;
}
