@keyframes slideIn {
  from {
    max-height: 0;
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    max-height: 100px;
    transform: translateY(0%);
    opacity: 1;
  }
}
/* line 18, sass/flash.scss */
.flash {
  font-size: 2em;
  font-weight: lighter;
  border: 1px solid #646464;
  color: #646464;
  display: inline-block;
  border-radius: .3em;
  padding: .15em .6em;
  animation: slideIn 0.5s;
}

/* line 29, sass/flash.scss */
.success {
  color: #27ae60;
  border: 1px solid #27ae60;
}

/* line 34, sass/flash.scss */
.error {
  color: #c0392b;
  border: 1px solid #c0392b;
}
