{% extends 'layout.html' %}

{% block title %}{{parent()}} pour l'habitat{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="public/css/glide.css">
{% endblock %}
{% block scripts %}
<script src="public/js/glide.js" ></script>
{% endblock %}


{% set largecontent %}
<h1>Habitat</h1>
<h2>Pour le neuf ou la rénovation, Ebip vous propose des solutions adaptées à vos besoins.</h2>
<a href="{{ url_for('contact',{'type':'habitat'}) }}" class="btn-classic">Contactez-nous</a>
{% endset %}

{% block largescreen %}
{{ include('large-screen.html',{
		'black'	:true,
		'parallax':true,
		'header':true,
		'fixe'  : {
			'bg'      : 'habitat.jpg',
			'content' : largecontent
		}
	})
}}
{% endblock %}

{% block content %}
	<h3 class="sub-title1">Ebip pour l'habitat, c'est :</h3>
	<div class="bull">
		<div class="bull-item">
			<img alt="10 ans" src="public/img/best.svg">
			<h4>10 ans d'expérience</h4>
			<p>Forte de plus de dix années d'expériences dans l'électricité, Ebip vous garantit un travail de qualité.</p>
		</div>
		<div class="bull-item">
			<img alt="24h" src="public/img/24h.svg">
			<h4>Devis en 24h</h4>
			<p>Après notre passage, nous effectuons votre devis et l'envoyons en 24h.</p>
		</div>
		<div class="bull-item">
			<img alt="Mobilité" src="public/img/mobilite.svg">
			<h4>Mobilité</h4>
			<p>Ebip se déplace dans un rayon de 200 km autour de Noyon.</p>
		</div>
		<div class="bull-item">
			<img alt="Solution clef en main" src="public/img/key.svg">
			<h4>Solution clef en main</h4>
			<p>Vous souhaitez réaliser vos travaux et n'avoir qu’un seul interlocuteur ? Du maçon au plombier, on se charge de tout.</p>
		</div>
		<div class="bull-item">
			<img alt="Choix" src="public/img/choice.svg">
			<h4>Choix des matériaux</h4>
			<p>La qualité de nos matériaux est importante, nous travaillons avec les plus grandes marques en vous laissant le choix.</p>
		</div>
	</div>
	<div class="cb"></div>
	<br/>
	<h3 class="sub-title1">Notre savoir faire</h3>
</div>
	{{ include('large-screen.html',{
		'height':'600px',
		'slides'  : [
			{
				'bg':'industrie.jpg',
				'title':'Titre',
				'subtitle':'sous-titre'
			}
		]
	})
}}

{% endblock %}