body {
	font-family: "Open Sans", sans-serif;
	color: $text-color;
}
@media screen and (max-width: 630px) {
	html {
		font-size: .7em;
	}
}


* {
	box-sizing:border-box;
}
a {
	color: inherit;
	outline: none;
}
*::selection {
	background: $main-color;
	color: #FFF;
}
*::-moz-selection {
	background: $main-color;
	color: #FFF;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
}

footer {
	color: #AAAAAA;
	text-align: center;
	font-size: .81rem;
	margin: 5em 0 1em 0;
	color: rgb(60,60,60);
}

.sub-title1 {
	text-align: center;
	font-size: 3rem;
	font-weight: lighter;
}

.cb { clear: both;}

.items {
	text-align: center;
}
.item {
	width: 460px;
	min-height: 250px;
	border-bottom:1px solid rgba(0,0,0,.1);
	border-right:1px solid rgba(0,0,0,.1);
	padding: 30px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	img {
		float: left;
		height: 50px;
		width: 50px;
	}
	h3 {
		font-size: 1.8em;
		font-weight:lighter;
		line-height: 1.7em;
		margin: 0;
		margin-left: 2em;
	}
	p {
		padding-left: 60px;
		text-align: justify;
		margin: 15px 0 0 0;
		line-height: 1.3em
	}
	&:nth-child(2), &:nth-child(4) {
		border-right: none;
	}
	&:nth-child(3), &:nth-child(4) {
		border-bottom: none;
	}
}

.les-logos {
	font-size: 0;
	text-align: center;
	img {
		vertical-align: middle;
		margin: 2%;
		max-width: 100%;
	}
}

@media screen and (max-width: $max-width) {
	.item {
		max-width: 50%;
		min-width: 200px;
	}
}
@media screen and (max-width: 630px) {
	.item {
		max-width: none;
		min-width: none;
		width:100%;
		border: none;
		border-bottom: 1px solid rgba(0,0,0,.1);
	}

	.les-logos {
		img {
			margin: 2% 0;
		}
	}
}