{% extends 'layout.html' %}

{% block title %}{{parent()}} - Contact{% endblock %}
{% block scripts %}
	<script src="/public/js/maps.js" ></script>
	<script src="/public/js/form.js" ></script>
	<script src="/public/js/hoverIntent.js" ></script>
{% endblock %}



{% set largecontent %}
	<h1>Contact</h1>
	<h2>Une question, un devis ?</h2>
{% endset %}

{% block largescreen %}
{{ include('large-screen.html',{
		'map':true,
		'black':true,
		'header':true,
		'hover':true,
		'content':largecontent
	})
}}
{% endblock %}

{% block content %}
	<address class="contact-informations">
		<p>SARL EBIP</p>
		<i class="contact-icon contact-icon-location"></i>
		<p>56 bis Rue Saint-Eloi 60400 Noyon</p>
		<i class="contact-icon contact-icon-phone"></i>
		<p>06 79 47 89 79</p>
		<i class="contact-icon contact-icon-director"></i>
		<p>Morgan PASQUOTTO</p>
	</address>
	<form class="form contact-form" id="form" method="post">			
		<h2 class="form-title">Contactez-nous</h2>
		<span>Tous les champs sont obligatoires</span>
		<div class="form-element">
			<label for="form-nom" class="form-label">Nom</label>
			<input id="form-nom" class="form-input" type="text" required>
		</div>
		<div class="form-element">
			<label for="form-prenom" class="form-label">Prénom</label>
			<input id="form-prenom" class="form-input" type="text" required>
		</div>
		<div class="form-element">
			<label for="form-mail" class="form-label">Mail</label>
			<input id="form-mail" pattern="^.+@.+\.[A-z]{2,4}$" class="form-input" type="email" required>
		</div>
		<div class="form-element">
			<label for="form-message" class="form-label">Votre message</label>
			<textarea id="form-message" class="form-input" required></textarea>
		</div>
		<div class="g-recaptcha" data-sitekey="{{ siteKey }}"></div>
		<br/>
		<input class="form-submit" type="submit" value="Envoyer">
	</form>
	<div class="cb"></div>
<script type="text/javascript">

/**
* Soumission du formulaire
*/
$(document).ready(function() {
	var form = new Form("form");
	$("#form").submit(function() {

		var captcha = grecaptcha.getResponse();

		form.setLoader();

		if(captcha==="") {
			form.removeLoader();
			form.flashErr("Veuillez valider la vérification");
		}
		else {
			$.ajax({
				method: "POST",
				url: "",
				data: {
					nom     : form.get("form-nom"),
					prenom  : form.get("form-prenom"),
					mail    : form.get("form-mail"),
					message : form.get("form-message"),
					captcha : captcha,
					from    : "<?= $from ?>"
				},
				dataType : "json"
			}).fail(function() {
				form.flashErr("Erreur lors de l'envoi du message");
				grecaptcha.reset();
			}).done(function(res) {
				console.log(res);
				res = JSON.parse(res);
				if(res.success) form.flashSuc("Merci, votre message a été envoyé !");
				else {
					form.flashErr(res.err);
					grecaptcha.reset();
				}
			}).always(function() {
				form.removeLoader();					
			});
		}
		return false;
	});
});
</script>
<script src='https://www.google.com/recaptcha/api.js' async></script>
{% endblock %}