{% extends 'layout.html' %}

{% block title %}{{parent()}} pour l'industrie{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="public/css/glide.css">
{% endblock %}
{% block scripts %}
<script src="public/js/glide.js" ></script>
{% endblock %}



{% set largecontent %}
<h1>Industrie</h1>
<h2>Dans le domaine de l’industrie, Ebip vous propose des solutions de câblage d’armoires et d’équipements électrique.</h2>
<a href="{{ url_for('contact',{'type':'industrie'}) }}" class="btn-classic">Contactez-nous</a>
{% endset %}

{% block largescreen %}
{{ include('large-screen.html',{
		'black'	:true,
		'parallax':true,
		'header':true,
		'fixe'  : {
			'bg'      : 'industrie.jpg',
			'content' : largecontent
		}
	})
}}
{% endblock %}

{% block content %}
	<h3 class="sub-title1">Ebip pour l'industrie, c'est :</h3>
	<div class="items">
		<div class="item">
			<img src="">
			<h3>Solutions clef en main</h3>
			<p>Ebip vous propose une solution clé en main, vous avez juste à nous confier votre projet avec vos choix d’installation, et nous nous chargeons de réunir les professionnels de l’artisanat.</p>
		</div><!--
	 --><div class="item">
			<img src="">
			<h3>Solutions clef en main</h3>
			<p>Ebip vousn, et nous nous chargeons de réunir les professionnels de l’artisanat.</p>
		</div><!--
	 --><div class="item">
			<img src="">
			<h3>Solutions clef en main</h3>
			<p>Ebip vous propose une solution clé en main, vous avez juste à nous confier votre projet avec vos choix d’installation, et nous nous chargeons de réunir les professionnels de l’artisanat.</p>
		</div><!--
	 --><div class="item">
			<img src="">
			<h3>Solution clef en main</h3>
			<p>Ebip vous propose une solution clé en main, vous avez juste à nous confier votre projet avec vos choix d’installation, et nous nous chargeons de réunir les professionnels de l’artisanat.</p>
		</div>
	</div>


	<h3 class="sub-title1">Notre savoir faire</h3>
	<div class="bull">
		<div class="bull-item">
			<img alt="10 ans" src="public/img/best.svg">
			<h4>Domotique</h4>
			<p>Forte de plus de dix années d'expériences dans l'électricité, Ebip vous garantit un travail de qualité.</p>
		</div>
		<div class="bull-item">
			<img alt="24h" src="public/img/24h.svg">
			<h4>Economie énergétique</h4>
			<p>Après notre passage, nous effectuons votre devis et l'envoyons en 24h.</p>
		</div>
		<div class="bull-item">
			<img alt="Mobilité" src="public/img/mobilite.svg">
			<h4>Mobilité</h4>
			<p>Ebip se déplace dans un rayon de 200 km autour de Noyon.</p>
		</div>
		<div class="bull-item">
			<img alt="Solution clef en main" src="public/img/key.svg">
			<h4>Solution clef en main</h4>
			<p>Vous souhaitez réaliser vos travaux et n'avoir qu’un seul interlocuteur ? Du maçon au plombier, on se charge de tout.</p>
		</div>
		<div class="bull-item">
			<img alt="Choix" src="public/img/choice.svg">
			<h4>Choix des matériaux</h4>
			<p>La qualité de nos matériaux est importante, nous travaillons avec les plus grandes marques en vous laissant le choix.</p>
		</div>
	</div>
	<ul>
		<li>Domotique</li>
		<li>Economie énergétique</li>
		<li>Installation neuf ou rénovation</li>
		<li>Mise en conformité</li>
		<li>Système d'alarmes sécurité</li>
		<li>Eclairage</li>
	</ul>
	<h3 class="sub-title1">Nos réalisations</h3>

</div>
	{{ include('large-screen.html',{
			'height':'600px',
			'slides'  : imgs
		})
	}}
<div class="content">
	<h3 class="sub-title1">Ils nous ont fait confiance :</h3>
	<div class="les-logos">
		<img src="/public/img/clients/actemium.jpg" alt="Actemium" title="Actemium" height="150px">
		<img src="/public/img/clients/cegelec.jpeg" alt="Cegelec" title="Cegelec" height="130px">
		<img src="/public/img/clients/2idl.PNG" alt="2IDL" title="2IDL">
	</div>
{% endblock %}